.action-delete {
    font-weight: bold;
    color: red;
}

.ui.fluid.container {
    width: 85%;
}

.intro {
    height: 100%;
    width: 100%;
}

.ui.large.form.intro-login {
    transform: translateY(100%);
    max-width: 450px;
    margin: 0 auto;
}
