<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MateLook {{ username }}</title>
</head>
<body>
    {% if uInfo["full_name"] %}
        <h1>Name: {{ uInfo["full_name"] }}</h1>
    {% endif %}

    {% if img %}
        <img src="../{{ img }}" />
    {% endif %}

    {% if uInfo["email"] %}
        <h2>Email: {{ uInfo["email"] }}</h2>
    {% endif %}

    {% if uInfo["mates"] %}
        <h2>Mates:</h2>
        {% for mate in uInfo["mates"] %}
            <li><a href="/user/{{mate}}">{{ mate }}</a></li>
        {% endfor %}
    {% endif %}

    {% if uInfo["courses"] %}
        <p>Courses: {{ uInfo["courses"] }}</p>
    {% endif %}
    {% if uInfo["password"] %}
        <p>Password: {{ uInfo["password"] }}</p>
    {% endif %}
    <textarea>{{ uInfo }}</textarea>
</body>
</html>
