{% include 'header.html' %}
<body>
    {% set sessName = getSess( ) %}
    {% if sessName %}
    <section class="page-header">
        <div class="ui fluid container">
            <div class="ui grey secondary menu">
                <a href="{{ url_for( 'viewUsers', user_name=sessName ) }}" class="item active">{{ getInfo( sessName, 'full_name') }}</a>
                <div class="right menu">
                    <a href="{{ url_for( 'logout' ) }}" class="ui item">Logout</a>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    <section class="hero">
        <div class="ui fluid container">
            <div class="ui grid profile">
                <div class="four wide column">
                    <img class="profile-picture" src="../profile_picture/{{ username }}" />
                </div>
                <div class="four wide column">
                    {% if uInfo %}
                    <h2>{{ uInfo.full_name }}</h2>
                    <h3 class="profile-program">{{ uInfo.program }}</h3>
                    <p>{{ uInfo.birthday }}</p>
                    {% endif %}
                    {% if sessName != username %}
                    <div class="ui button">Add Friend</div>
                    {% else %}
                    <div class="ui button">Edit Profile</div>
                    {% endif %}
                </div>
                <div class="four wide column">
                    Blurb
                    <p>
                    {{ uInfo.blurb }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="search-bar">
        <div class="ui search large">
            <div class="ui icon input">
                <input class="prompt search-field" type="text" placeholder="Search">
                <i class="search icon"></i>
            </div>
        </div>
    </section>

    <section class="mates">
        <div class="ui fluid container">
            {% if mInfo %}
                <h1>Mates</h1>
                <div class="ui doubling grid">
                    {% for mate in mInfo %}
                    {% set rowInfo = dictFromRow( mate ) %}
                    <div class="column mate">
                        <div class="image">
                            <a class="ui" href="{{ rowInfo.mateID }}" data-tooltip="{{ getInfo( rowInfo.mateID, 'full_name' ) }}">
                                <img class="mate-picture" src="../profile_picture/{{ rowInfo.mateID }}" />
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <section class="content">
        <div class="ui text container {% if sessName != username %}hidden--force{% endif %}">
            <div class="ui cards">
                <div class="ui raised fluid card create-post">
                    <div class="content">
                        <h1 class="post-header">Make Post</h1>
                        <div class="description">
                            <div class="actions">
                                <textarea class="post-area" placeholder="What do your mates want to hear?"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="extra-content">
                        <div class="actions">
                            <button class="ui button action-create" data-type="Post" data-parent="{{ username }}">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <div class="ui cards posts">

            </div>
        </div>
    </section>
    </div>

    <div class="ui modal search-results">
    </div>
</div>

    {% if username == getSess( ) %}
        {% if uInfo.courses %}
            <p>Courses: {{ uInfo.courses }}</p>
        {% endif %}
        {% if uInfo.password %}
            <p>Password: {{ uInfo.password }}</p>
        {% endif %}
    {% endif %}
    <textarea>{{ uInfo|string }}</textarea>
    <textarea>{{ pInfo|string }}</textarea>

    <script>
    var page_Num = 0;
    $( '.ui.modal' ).modal( );

    $( '.search-field').keypress( function( e ) {
        console.log( 'Text:' + $( '.search-field' ).val( ) );
        if( event.keyCode == 13 ) {
            if( $( '.search-field' ).val( ).length > 2 ) {
                $.post(
                    '{{ url_for( "search" ) }}', { search: $( '.search-field' ).val( ) },
                function( data ) {
                    $( '.search-results' ).html( data );
                    $( '.menu .item' ).tab( {
                        'onVisible': function( ) {
                            $( '.ui.modal' ).modal( 'refresh' );
                        } } );
                    $( '.ui.modal' ).modal( 'show' );
                } );
            }
        }
    } );

    $( document ).on( 'click', '.toggle_comments', function( ) {
        var pID = $( this ).data( "toggle" )
        var text = $( this ).text( );
        console.log( text );
        if( text == "Show more comments." ) {
            $( this ).text( "Hide comments." );
        } else {
            $( this ).text( "Show more comments." );
            $('html, body').animate({        // Scroll to Result
                scrollTop: $( "#post-" + pID ).offset().top
            }, 500 );
        }
        $( "#post-" + pID + " div:nth-child(n+6)").toggle( "500" );
    });

    // $( '.toggle_comments' ).on( 'click', function( ) {
    //     var pID = $( this ).data( "toggle" )
    //     var text = $( this ).text( );
    //     console.log( text );
    //     if( text == "Show more comments." ) {
    //         $( this ).text( "Hide comments." );
    //     } else {
    //         $( this ).text( "Show more comments." );
    //         $('html, body').animate({        // Scroll to Result
    //             scrollTop: $( "#post-" + pID ).offset().top
    //         }, 500 );
    //     }
    //     $( "#post-" + pID + " div:nth-child(n+6)").toggle( "500" );
    // });

    $( '.action-create' ).on( 'click', function( ) {
        console.log( "Parent: " + $( '.action-create' ).data( "parent" ) );
        console.log( "Type: " + $( '.action-create' ).data( "type" ) );

        if( $( '.post-area' ).val( ).length < 5 ) {
            console.log( "Message is too short!" );
        } else {
            $.post(
                '{{ url_for( "create" ) }}', {
                    zID: '{{ sessName }}',
                    message: $( '.post-area' ).val( ),
                    parent: $( '.action-create' ).data( "parent" ),
                    type: $( '.action-create' ).data( "type" ) },
            function( data ) {
                // console.log( "Reponse: " + data );
                // console.log( "Message Sent?" );
                location.reload( );
            } );
        }
    } );

    $( '.reply' ).on( 'click', function( ) {
        var me = $( this );
        $( '.create-post' ).insertAfter( this ).hide( ).show( 'slow' );
        $( '.action-create' ).data( "type", me.data( "type" ) ).data( "parent", me.data( "parent" ) );
        $( '.post-header' ).text( "Reply to " + me.data( "type" ) );
    } );

    $( window ).on("scroll", function( ) {
        showPost( );
    });

    showPost( );

    function showPost( ) {
        var scrollHeight = $(document).height();
    	var scrollPosition = $(window).height() + $(window).scrollTop();
    	if ((scrollHeight - scrollPosition) / scrollHeight === 0) {
            $( '.posts' ).append( '<div class="ui active centered inline loader delete_me"></div>' );
            $.post(
                '{{ url_for( "viewPost" ) }}', {
                    zID: '{{ username }}',
                    pageNum: page_Num
                },
            function( data ) {
                $( '.delete_me' ).remove( );
                $( '.posts' ).append( data );
                page_Num += 10;
            } );
    	}
    }
    </script>

</body>
</html>
