{% include 'header.html' %}
<body>
    <!-- Check if person is a mate! -->
    {% set sessName = getSess( ) %}
    {% if uInfo.private != 1 or sessName == username %}
    <section class="page-header">
        <div class="ui fluid container">
            <div class="ui grey secondary menu">
                {% if sessName %}
                <a href="{{ url_for( 'viewUsers', user_name=sessName ) }}" class="item active">{{ getInfo( sessName, 'full_name') }}</a>
                <div class="right menu">
                    <a href="{{ url_for( 'logout' ) }}" class="ui item">Logout</a>
                </div>
                {% else %}
                <a href="{{ url_for( 'auth' ) }}"><button class="ui button">Login</button></a>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="hero" style="background-image: url( '{{ url_for( 'showProfBg', zID=uInfo.zID ) }}')">
        <div class="ui fluid container">
            <div class="ui grid profile">
                <div class="four wide column">
                    <img class="profile-picture" src="../profile_picture/{{ username }}" />
                </div>
                <div class="four wide column">
                    {% if uInfo %}
                    <h2>{{ uInfo.full_name }}</h2>
                    <h3 class="profile-program">{{ uInfo.program }}</h3>
                    <p>{{ uInfo.birthday }}</p>
                    {% endif %}
                    {% if sessName == username %}
                    <div class="ui button profile-edit">Edit Profile</div>
                    {% elif sessName != None and ( isMate( uInfo.zID, sessName ) == 1 or isMate( sessName, uInfo.zID ) == 1 )%}
                    <div class="ui button mate-action">Remove Mate</div>
                    {% else %}
                    <div class="ui button mate-action">Add Mate</div>
                    {% endif %}
                </div>
                <div class="four wide column">
                    {{ uInfo.blurb|doMention|safe }}
                </div>
            </div>
        </div>

    </section>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="ui text container">
            {% for category, message in messages %}
            <div class="ui error message">
                <div class="header">Whoopsy!</div>
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    {% if sessName == username %}
    <section class="edit-info hidden">
        <div class="ui text container">
            <h1>Profile Information</h1>
            <form class="ui form" action="{{ url_for( 'editInfo' ) }}" method="POST">
                <div class="field">
                    <label>zID</label>
                    <input type="text" name="zID" required readonly="readonly" value="{{ username }}">
                </div>
                <div class="field">
                    <label>Password (please re-enter your password)</label>
                    <input type="password" name="password" required >
                </div>
                <div class="field email">
                    <label>Email</label>
                    <input type="text" name="email" required value="{{ uInfo.email }}">
                </div>
                <div class="field full-name">
                    <label>Full Name</label>
                    <input type="text" name="full_name" required value="{{ uInfo.full_name }}">
                </div>
                <div class="field">
                    <label>Birthday</label>
                    <input type="text" name="birthday" value="{{ uInfo.birthday }}">
                </div>
                <div class="field">
                    <label>Program</label>
                    <input type="text" name="program" value="{{ uInfo.program }}">
                </div>
                <div class="field">
                    <label>Blurb</label>
                    <input type="text" name="blurb" value="{{ uInfo.blurb }}">
                </div>
                <div class="field">
                    <label>Home Suburb</label>
                    <input type="text" name="home_suburb" value="{{ uInfo.home_suburb }}">
                </div>
                <input class="ui primary blue button profile-save" name="action" type="submit" value="Save">
                </input>
            </form>
            <h1>Profile Picture</h1>
            <form class="ui form" action="{{ url_for( 'uploadPic' ) }}" method="POST" enctype=multipart/form-data>
                <input type=file name=file>
                <input type="text" name="zID" hidden value="{{ username }}">
                <input type="text" name="type" hidden value="pPic">
                <p>Supported file extensions: jpg/jpeg/png</p>
                <p>Maximum file size: 1MB (1024 KB)</p>
                <input class="ui primary blue button" type="submit" value="Upload">
                <input class="ui primary red button" name="action" type="submit" value="Delete Current Picture">
            </form>
            <h1>Profile Background</h1>
            <form class="ui form" action="{{ url_for( 'uploadPic' ) }}" method="POST" enctype=multipart/form-data>
                <input type=file name=file>
                <input type="text" name="zID" hidden value="{{ username }}">
                <input type="text" name="type" hidden value="pBg">
                <p>Supported file extensions: jpg/jpeg/png</p>
                <p>Maximum file size: 1MB (1024 KB)</p>
                <input class="ui primary blue button" type="submit" value="Upload">
                <input class="ui primary red button" name="action" type="submit" value="Delete Current Picture">
            </form>
            <h1>Account Settings</h1>
            <a href="{{ url_for( 'delete_acc' ) }}"><button class="ui button red">Delete Account</button></a>
        </div>
    </section>
    {% endif %}

    <section class="search-bar">
        <div class="ui fluid container">
            <div class="ui centered grid">
                <div class="ui search large ten wide column">
                    <div class="ui icon input">
                        <input class="prompt search-field" type="text" placeholder="Search">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mates">
        <div class="ui fluid container">
            {% if mInfo %}
                <h1>Mates</h1>
                <div class="ui doubling grid">
                    {% for mate in mInfo %}
                    {% set rowInfo = dictFromRow( mate ) %}
                    <div class="column mate">
                        <div class="image">
                            <a class="ui" href="{{ rowInfo.mateID }}" data-tooltip="{{ getInfo( rowInfo.mateID, 'full_name' ) }}">
                                <img class="mate-picture" src="../profile_picture/{{ rowInfo.mateID }}" />
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

    <section class="content">
        <div class="ui text container {% if sessName != username %}hidden--force{% endif %}">
            <div class="ui cards">
                <div class="ui raised fluid card create-post">
                    <div class="content">
                        <h1 class="post-header">Make Post</h1>
                        <div class="description">
                            <div class="actions">
                                <textarea class="post-area" placeholder="What do your mates want to hear?"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="extra-content">
                        <div class="actions">
                            <button class="ui button action-create" data-type="Post" data-parent="{{ username }}">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <div class="ui cards posts" id="post_area">

            </div>
        </div>
    </section>
    </div>

    <div class="ui modal search-results">
    </div>

    {% if username == getSess( ) %}
        {% if uInfo.courses %}
            <p>Courses: {{ uInfo.courses }}</p>
        {% endif %}
        {% if uInfo.password %}
            <p>Password: {{ uInfo.password }}</p>
        {% endif %}
    {% endif %}
    <textarea>{{ uInfo|string }}</textarea>
    <textarea>{{ pInfo|string }}</textarea>

    <section class="footer" id="footer">

    </section>

    <script>
    var page_Num = 0;
    var s_comm = 0;
    var s_post = 0;
    var s_reply = 0;
    var s_cInd = 5;
    var s_pInd = 5;
    var s_rInd = 5;

    var showNextComm = function( sNum ) {
        if( sNum > s_comm.length ) {
            $( '.toggle-sComm' ).remove( );
        }
        s_comm.hide( ).slice( 0, sNum ).show( );
        $( '.ui.modal' ).modal( 'refresh' );
    }

    var showNextReply = function( sNum ) {
        if( sNum > s_reply.length ) {
            $( '.toggle-sReply' ).remove( );
        }
        s_reply.hide( ).slice( 0, sNum ).show( );
        $( '.ui.modal' ).modal( 'refresh' );
    }

    var showNextPost = function( sNum ) {
        if( sNum > s_post.length ) {
            $( '.toggle-sPost' ).remove( );
        }
        s_post.hide( ).slice( 0, sNum ).show( );
        $( '.ui.modal' ).modal( 'refresh' );
    }

    $( document ).on( 'click', '.toggle-sComm', function( ) {
        s_cInd += 5;
        showNextComm( s_cInd );
    } );

    $( document ).on( 'click', '.toggle-sPost', function( ) {
        s_pInd += 5;
        showNextPost( s_pInd );
    } );

    $( document ).on( 'click', '.toggle-sReply', function( ) {
        s_rInd += 5;
        showNextReply( s_rInd );
    } );

    $( '.ui.modal' ).modal( );

    $( '.search-field').keypress( function( evt ) {
        var e = evt || event;
        var code = e.keyCode || e.which;
        console.log( 'Text:' + $( '.search-field' ).val( ) );
        if( code == 13 ) {
            if( $( '.search-field' ).val( ).length > 2 ) {
                $.post(
                    '{{ url_for( "search" ) }}', { search: $( '.search-field' ).val( ) },
                function( data ) {
                    $( '.search-results' ).html( data );
                    $( '.menu .item' ).tab( {
                        'onVisible': function( ) {
                            $( '.ui.modal' ).modal( 'refresh' );
                        } } );
                    $( '.ui.modal' ).modal( 'show' );
                    s_comm = $( ".results-comments .card" );
                    s_post = $( ".results-posts .card" );
                    s_reply = $( ".results-replies .card" );
                    showNextComm( 5 );
                    showNextPost( 5 );
                    showNextReply( 5 );
                } );
            }
        }
    } );

    $( document ).on( 'click', '.toggle_comments', function( ) {
        console.log( "Test" );
        var pID = $( this ).data( "toggle" )
        var text = $( this ).text( );
        console.log( text );
        if( text == "Show more comments." ) {
            $( this ).text( "Hide comments." );
        } else {
            $( this ).text( "Show more comments." );
            $('html, body').animate({        // Scroll to Result
                scrollTop: $( "#post-" + pID ).offset().top
            }, 500 );
        }
        $( "#post-" + pID + " div:nth-child(n+6)").toggle( "500" );
    });

    $( '.action-create' ).on( 'click', function( ) {
        console.log( "Parent: " + $( '.action-create' ).data( "parent" ) );
        console.log( "Type: " + $( '.action-create' ).data( "type" ) );

        if( $( '.post-area' ).val( ).length < 5 ) {
            console.log( "Message is too short!" );
        } else {
            $.post(
                '{{ url_for( "create" ) }}', {
                    zID: '{{ sessName }}',
                    message: $( '.post-area' ).val( ),
                    parent: $( '.action-create' ).data( "parent" ),
                    type: $( '.action-create' ).data( "type" ) },
            function( data ) {
                // console.log( "Reponse: " + data );
                // console.log( "Message Sent?" );
                location.reload( );
            } );
        }
    } );

    $( document ).on( 'click', '.reply', function( ) {
        var me = $( this );
        $( '.create-post' ).insertAfter( this ).hide( ).show( 'slow' );
        $( '.action-create' ).data( "type", me.data( "type" ) ).data( "parent", me.data( "parent" ) );
        $( '.post-header' ).text( "Respond as " + me.data( "type" ) );
    } );

    $( document ).on( 'dblclick', '.delete', function( ) {
        $.post(
            '{{ url_for( "delete" ) }}', {
                zID: '{{ sessName }}',
                parent: $( this ).data( "parent" ),
                type: $( this ).data( "type" ) },
        function( data ) {
            alert( data );
            location.reload( );
        } );
    } );

    $( '.mate-action' ).on( 'click', function( ) {
        $.post(
            '{{ url_for( "mate" ) }}', {
                zID: '{{ sessName }}',
                mID: '{{ uInfo.zID }}' },
        function( data ) {
            alert( data );
            location.reload( );
        } );
    } );

    $( '.profile-edit' ).on( 'click', function ( ) {
        $( '.edit-info' ).slideToggle( "slow" );
    } );

    $( window ).on("scroll", function( ) {
        showPost( );
    });

    showPost( );

    function showPost( ) {
        var scrollHeight = $(document).height();
    	var scrollPosition = $(window).height() + $(window).scrollTop();
    	if ((scrollHeight - scrollPosition) / scrollHeight === 0) {
            console.log( "Showing more posts!" );
            $( '.posts' ).append( '<div class="ui active centered inline loader delete_me"></div>' );
            $.post(
                '{{ url_for( "viewPost" ) }}', {
                    zID: '{{ username }}',
                    pageNum: page_Num
                },
            function( data ) {
                $( '.delete_me' ).remove( );
                $( '.posts' ).append( data );
                page_Num += 5;
            } );
    	}
    }
    </script>
    {% else %}
        <h1>This profile is private. ;[ </h1>
    {% endif %}
</body>
</html>
